@font-face {
  font-family: 'bebas-neue';
  src: url('../assets/fonts/bebasneue-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --ocean-blue: #0077be;
  --battleship-gray: #607d8b;
  --radar-green: #4caf50;
  --text-white: #ffffff;
  --navy-background: #001f3f;
  --miss: #d3d3d3;
  --hit: #ff3333;
  --own-ship-hit: #b32400;
  --unplaced-ship: #daa520;
  --grid-cell-width: 2.5em;
  --grid-cell-height: 2.5em;
}
input[type='text'] {
  cursor: text;
}

button:disabled.grid-cell[data-cell-status='hit'] {
  background-color: var(--hit);
}
button:disabled.grid-cell[data-cell-status='miss'] {
  background-color: var(--miss);
}
div.grid-cell.main-grid-hit-marker {
  background-color: var(--own-ship-hit);
}

.ship {
  color: var(--battleship-gray);
}

.easy {
  background-color: var(--radar-green);
  color: var(--text-white);
}
.medium {
  background-color: var(--navy-background);
  color: var(--text-white);
}
.hard {
  background-color: var(--hit);
  color: black;
}

.button.active {
  background-color: var(--radar-green);
}

body {
  background-color: var(--navy-background);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0;
}

/* Utility Bar */
/*#region*/
.utility-bar {
  background-color: var(--ocean-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
}
.utility-bar .title {
  font-family: 'bebas-neue';
  font-size: 3rem;
}
/*#endregion*/

main {
  padding: 0.5em;
  height: 100vh;
  flex: 1;
}
.current-player {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5em;
}
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}
.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-col-labels {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.board-col-label {
  width: var(--grid-cell-width);
  text-align: center;
  font-weight: bolder;
}
.board-row-label {
  text-align: center;
  font-weight: bolder;
  width: 1rem;
  height: 1rem;
  padding-right: 0.25em;
}

.tracking-grid-wrapper,
.main-grid-wrapper {
  display: flex;
  height: fit-content;
  gap: 1em;
}

/* Interactive grid cell placement colors */

.grid-cell.valid-placement {
  background-color: var(--battleship-gray);
  border-color: var(--unplaced-ship);
}
.grid-cell.placed-ship {
  background-color: var(--battleship-gray);
  border-color: var(--radar-green);
}
.grid-cell.invalid-placement {
  background-color: var(--hit);
}
/* Fleet List Dynamic Colors */
/* Player's Fleet (main grid) */
button.fleet-entry[data-placed='false'] {
  color: var(--unplaced-ship);
}
button.fleet-entry[data-placed='false'].being-placed,
button.fleet-entry[data-placed='false']:hover {
  color: var(--radar-green);
  border-bottom: 2px solid var(--text-white);
}
button.fleet-entry[data-placed='true'] {
  color: var(--radar-green);
}
button.fleet-entry[data-placed='true']:hover {
  color: var(--hit);
  border-bottom: 2px solid var(--text-white);
}

button:disabled.fleet-entry[data-sunk='false'][data-placed='true']:hover {
  color: var(--radar-green);
  border: none;
}
button:disabled.fleet-entry[data-sunk='true'][data-placed='true']:hover {
  color: var(--own-ship-hit);
  border: none;
}

button:disabled.fleet-entry[data-sunk='true'][data-placed='true'] {
  color: var(--own-ship-hit);
  text-decoration: line-through;
}
div.fleet-entry[data-sunk='false'] {
  color: var(--radar-green);
}
div.fleet-entry[data-sunk='true'] {
  color: var(--hit);
  text-decoration: line-through;
}

.opponent-fleet-container,
.fleet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  min-width: fit-content;
  gap: 0.25em;
}
.opponent-fleet-container-header,
.player-fleet-container-header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  border-bottom: 2px solid var(--text-white);
}
.fleet-entry {
  background-color: var(--navy-background);
  border: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  gap: 1em;
  font-size: 1.25rem;
}
.fleet-ship-list-container {
  width: 100%;
}

.submit-ships-placement-button[disabled='true'],
.submit-ships-placement-button {
  width: 100%;
  padding: 0.25em;
  font-weight: bold;
}
.submit-ships-placement-button[disabled='false'] {
  background-color: var(--ocean-blue);
  color: var(--text-white);
  border: 2px solid var(--text-white);
}

.submit-ships-placement-button[disabled='false']:hover {
  background-color: var(--radar-green);
  border: var(--text-white);
}

.main-grid {
}
.tracking-grid {
}
.player-tracking-grid > .board-row > .grid-cell[data-cell-status='unexplored']:hover {
  background-color: var(--radar-green);
}
.main-grid-header,
.tracking-grid-header {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5em;
}

.main-grid-header > p,
.tracking-grid-header > p {
  font-weight: bold;
  font-size: 1.25rem;
  border-bottom: 2px solid var(--text-white);
}

.grid-cell {
  width: var(--grid-cell-height);
  height: var(--grid-cell-width);
  background-color: var(--ocean-blue);
  border: 1px solid var(--text-white);
}

/* Placement State Instructions */
/*#region*/
.placement-state-instructions-container {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding-left: 2em;
  padding-right: 2em;
  gap: 0.5em;
}
.placement-instructions-header {
  font-family: 'bebas-neue';
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--radar-green);
  border-bottom: 2px solid var(--radar-green);
}
.placement-controls-header {
  font-family: 'bebas-neue';
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--radar-green);
  border-bottom: 2px solid var(--radar-green);
  max-width: fit-content;
  margin-bottom: 0.25em;
}
.placement-controls-list-item {
  color: var(--radar-green);
}
.placement-controls-instruction {
  color: var(--text-white);
}
.placement-controls-button {
  font-style: italic;
}
/*#endregion*/

/* Settings Dialog */
/*#region*/
.settings-dialog[open] {
  background-color: var(--ocean-blue);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 10px;
  width: 50vw;
}
.settings-dialog[open]::backdrop {
  background-color: rgba(0, 9, 17, 0.9);
}
.settings-dialog-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'bebas-neue';
  letter-spacing: 0.1rem;
  text-align: center;
}

.board-settings-title,
.player-one-settings-title,
.player-two-settings-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 2px solid var(--text-white);
  margin-bottom: 0.5rem;
}
.player-information-input-container {
  display: flex;
  gap: 0.5em;
}
.player-information-container {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
}
.player-information-container > input,
.player-information-container > select {
  width: 100%;
  height: 100%;
  padding: 0.25em;
}

.board-settings-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.board-settings-inputs-container {
  display: flex;
  gap: 0.25em;
  justify-content: center;
}
.rows-input-wrapper,
.cols-input-wrapper,
.letter-axis-input-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-weight: bold;
}
.rows-input-wrapper > input,
.cols-input-wrapper > input {
  min-width: 55px;
}
.letter-axis-input-wrapper > select {
  min-width: 125px;
  height: 100%;
  text-align: center;
}

.dialog-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.settings-button,
.settings-submit-button,
.settings-cancel-button {
  height: 2.25em;
  border: 2px solid var(--text-white);
  background-color: var(--navy-background);
  color: var(--text-white);
  font-weight: bold;
  padding: 0.5em;
  border-radius: 10px;
}
.settings-button:hover,
.settings-submit-button:hover {
  border-color: var(--navy-background);
  background-color: var(--radar-green);
}
.settings-cancel-button:hover {
  border-color: var(--radar-green);
  background-color: var(--text-white);
  color: black;
}
/*#endregion*/

/* Alternating Players Dialog */
/*#region*/
.alternate-player-dialog[open] {
  background-color: var(--ocean-blue);
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 10px;
  width: 50vw;
}
.alternate-player-dialog[open]::backdrop {
  background-color: black;
}
.settings-dialog-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'bebas-neue';
  letter-spacing: 0.1rem;
}
.alternate-player-dialog > .next-player-name {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.alternate-player-dialog > .proceed-to-next-player-button {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 10px;
  border: 2px solid var(--radar-green);
  color: var(--navy-background);
}
.alternate-player-dialog > .proceed-to-next-player-button:hover {
  background-color: var(--radar-green);
  border-color: var(--navy-background);
  color: var(--text-white);
}

/*#endregion*/

.ai-display-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.ai-display-header > p {
  color: #ff3333;
  border-bottom: 2px solid var(--hit);
  font-size: 1.15rem;
}

/* Footer */
/*#region*/
footer {
  grid-column: 1/-1;
  background-color: var(--ocean-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 5px;
}
footer a {
  display: flex;
  justify-content: center;
  width: 2em;
  fill: var(--navy-background);
  border-radius: 100%;
}
.github-logo-icon:hover {
  fill: var(--radar-green);
  border-radius: 100px;
  box-shadow: 0px 0px 5px 3px var(--radar-green);
}
/*#endregion*/

.hide {
  display: none;
}

@media (max-width: 1200px) {
  :root {
    --grid-cell-width: 2em;
    --grid-cell-height: 2em;
  }
  .board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    display: none;
  }
}
