@import url('../../../common/grid-style.css');

.main-grid > .board-row > .grid-cell.valid-placement {
  background-color: var(--color-steel-blue);
  border-color: var(--color-yellow-orange);
}
.main-grid > .board-row > .grid-cell.placed-ship {
  background-color: var(--color-steel-blue);
  border-color: var(--color-vibrant-green);
}
.main-grid > .board-row > .grid-cell.invalid-placement {
  background-color: var(--color-bright-red);
}
.main-grid > .board-row > .grid-cell.main-grid-hit-marker {
  background-color: var(--color-deep-orange-red);
}
