@import url('../../../../styles/style.css');

.tracking-fleet,
.main-fleet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  min-width: fit-content;
  gap: 0.3em;
}
.tracking-fleet-header,
.main-fleet-header {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 2px solid var(--text-white);
  width: 100%;
}
.main-fleet-ship-list {
  width: 100%;
}

.main-fleet-button-container {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.submit-ships-placement-button,
.rotate-ship-button,
.end-turn-button {
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 10px;
  padding: 0.2em;
  width: 100%;
}
.rotate-ship-button,
.end-turn-button {
  background-color: var(--ocean-blue);
  color: var(--text-white);
  border: 3px solid var(--radar-green);
}
.submit-ships-placement-button {
  background-color: var(--ocean-blue);
  color: var(--text-white);
  border: 3px solid var(--radar-green);
}
.submit-ships-placement-button:hover {
  background-color: var(--radar-green);
  border-color: var(--text-white);
}
.submit-ships-placement-button:disabled:hover,
.submit-ships-placement-button:disabled {
  background-color: gray;
  color: #e2e1e1;
  border: none;
}

.rotate-ship-button:hover,
.end-turn-button:hover {
  background-color: var(--radar-green);
  border-color: var(--text-white);
}
